# Ignore everything
/*

# With exceptions
!/__init__.py
!/Archival
!/Documentation.md
!/example.py
!/README.md
!/LICENSE
!/.gitignore
!/__main__.py
!/RELEASES

# Ignore any and all pycache directories
*/__pycache__/*
*/__pycache__/