# Ignore everything
/*

# With exceptions
!/__init__.py
!/Documentation.md
!/Docs
!/example.py
!/README.md
!/LICENSE
!/.gitignore
!/RELEASES*
!/CustomThemeExample.py

# Ignore any and all pycache directories
__pycache__/*
__pycache__/